/*https://www.creativejuiz.fr/blog/tutoriels/input-file-personnalise-css-js*/
body {
	font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
	color: #7F8C9A;
	background: #FCFDFD;
}

.input-file-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 225px;
	padding: 5px;
} 
.js .input-file-trigger {
	display: block;
	padding: 14px 45px;
	background: #39D2B4;
	color: #fff;
	font-size: 1em;
	transition: all .4s;
	cursor: pointer;
}
.js .input-file {
	position: absolute;
	top: 0; left: 0;
	width: 225px;
	opacity: 0;
	padding: 14px 0;
	cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
	background: #34495E;
	color: #39D2B4;
}

.file-return {
	margin: 0;
}
.file-return:not(:empty) {
	margin: 1em 0;
}
.js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
}
.js .file-return:not(:empty):before {
	/*content: "Selected file: ";*/
	font-style: normal;
	font-weight: normal;
}